<h2 style='text-decoration:underline'>Lista de Usuarios</h2>
{% for flashMessage in app.session.flashbag.get('exito')%}
<div style='color:green'>{{flashMessage}}</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error')%}
<div style='color:red'>{{flashMessage}}</div>
{% endfor %}

<div style='border:1px solid black;width:400px;'>
	<ul>
	{% for r in user %}
		<li style='margin-bottom:20px; list-style-type:none;'>- {{r.id}}. {{r.nombre}}<a href='/nueva/show/{{r.id}}' style='margin-left:30%'>Mostrar</a></li>
	
	{% else %}
	<li style='color:red'>No hay usuarios en la lista.</li>
	{% endfor %}
	</ul>

</div><br>

<a href="/nueva/create">Crear nuevo usuario</a><br><br>
<a href="/nueva">Volver a la pagina de inicio</a>


      
        <footer id="foot" style="margin-top:200px " >
        {% block foot %}
    
            <p style='font-style:oblique'>Creado por Alberto Martin</p>



        {% endblock %}
        </footer>